//! **************************************************************************
// Written by: Map P.20131013 on Sun May 17 07:25:28 2026
//! **************************************************************************

SCHEMATIC START;
COMP "p<10>" LOCATE = SITE "A10" LEVEL 1;
COMP "p<11>" LOCATE = SITE "F9" LEVEL 1;
COMP "p<12>" LOCATE = SITE "A14" LEVEL 1;
COMP "p<20>" LOCATE = SITE "A16" LEVEL 1;
COMP "p<13>" LOCATE = SITE "F13" LEVEL 1;
COMP "p<14>" LOCATE = SITE "E13" LEVEL 1;
COMP "p<15>" LOCATE = SITE "C15" LEVEL 1;
COMP "p<16>" LOCATE = SITE "A15" LEVEL 1;
COMP "p<17>" LOCATE = SITE "D14" LEVEL 1;
COMP "p<18>" LOCATE = SITE "C14" LEVEL 1;
COMP "p<19>" LOCATE = SITE "B16" LEVEL 1;
COMP "p<0>" LOCATE = SITE "D4" LEVEL 1;
COMP "p<1>" LOCATE = SITE "C4" LEVEL 1;
COMP "p<2>" LOCATE = SITE "A6" LEVEL 1;
COMP "p<3>" LOCATE = SITE "D9" LEVEL 1;
COMP "p<4>" LOCATE = SITE "C9" LEVEL 1;
COMP "p<5>" LOCATE = SITE "B9" LEVEL 1;
COMP "p<6>" LOCATE = SITE "A9" LEVEL 1;
COMP "p<7>" LOCATE = SITE "D11" LEVEL 1;
COMP "p<8>" LOCATE = SITE "C11" LEVEL 1;
COMP "p<9>" LOCATE = SITE "C10" LEVEL 1;
SCHEMATIC END;

