//! **************************************************************************
// Written by: Map P.20131013 on Sun May 17 05:56:10 2026
//! **************************************************************************

SCHEMATIC START;
COMP "p<10>" LOCATE = SITE "N12" LEVEL 1;
COMP "p<11>" LOCATE = SITE "P12" LEVEL 1;
COMP "p<12>" LOCATE = SITE "U13" LEVEL 1;
COMP "p<20>" LOCATE = SITE "N10" LEVEL 1;
COMP "p<13>" LOCATE = SITE "V13" LEVEL 1;
COMP "p<21>" LOCATE = SITE "P11" LEVEL 1;
COMP "p<14>" LOCATE = SITE "M11" LEVEL 1;
COMP "p<22>" LOCATE = SITE "M10" LEVEL 1;
COMP "p<30>" LOCATE = SITE "R8" LEVEL 1;
COMP "p<15>" LOCATE = SITE "N11" LEVEL 1;
COMP "p<23>" LOCATE = SITE "N9" LEVEL 1;
COMP "p<31>" LOCATE = SITE "T8" LEVEL 1;
COMP "p<16>" LOCATE = SITE "R11" LEVEL 1;
COMP "p<24>" LOCATE = SITE "U11" LEVEL 1;
COMP "p<32>" LOCATE = SITE "T9" LEVEL 1;
COMP "p<40>" LOCATE = SITE "N7" LEVEL 1;
COMP "p<17>" LOCATE = SITE "T11" LEVEL 1;
COMP "p<25>" LOCATE = SITE "V11" LEVEL 1;
COMP "p<33>" LOCATE = SITE "V9" LEVEL 1;
COMP "p<41>" LOCATE = SITE "P8" LEVEL 1;
COMP "p<18>" LOCATE = SITE "T12" LEVEL 1;
COMP "p<26>" LOCATE = SITE "R10" LEVEL 1;
COMP "p<34>" LOCATE = SITE "M8" LEVEL 1;
COMP "p<42>" LOCATE = SITE "T6" LEVEL 1;
COMP "p<50>" LOCATE = SITE "U5" LEVEL 1;
COMP "p<19>" LOCATE = SITE "V12" LEVEL 1;
COMP "p<27>" LOCATE = SITE "T10" LEVEL 1;
COMP "p<35>" LOCATE = SITE "N8" LEVEL 1;
COMP "p<43>" LOCATE = SITE "V6" LEVEL 1;
COMP "p<51>" LOCATE = SITE "V5" LEVEL 1;
COMP "p<28>" LOCATE = SITE "U10" LEVEL 1;
COMP "p<36>" LOCATE = SITE "U8" LEVEL 1;
COMP "p<44>" LOCATE = SITE "R7" LEVEL 1;
COMP "p<52>" LOCATE = SITE "R3" LEVEL 1;
COMP "p<29>" LOCATE = SITE "V10" LEVEL 1;
COMP "p<37>" LOCATE = SITE "V8" LEVEL 1;
COMP "p<45>" LOCATE = SITE "T7" LEVEL 1;
COMP "p<53>" LOCATE = SITE "T3" LEVEL 1;
COMP "p<38>" LOCATE = SITE "U7" LEVEL 1;
COMP "p<46>" LOCATE = SITE "N6" LEVEL 1;
COMP "p<54>" LOCATE = SITE "T4" LEVEL 1;
COMP "p<39>" LOCATE = SITE "V7" LEVEL 1;
COMP "p<47>" LOCATE = SITE "P7" LEVEL 1;
COMP "p<55>" LOCATE = SITE "V4" LEVEL 1;
COMP "p<48>" LOCATE = SITE "R5" LEVEL 1;
COMP "p<56>" LOCATE = SITE "N5" LEVEL 1;
COMP "p<49>" LOCATE = SITE "T5" LEVEL 1;
COMP "p<57>" LOCATE = SITE "P6" LEVEL 1;
COMP "p<58>" LOCATE = SITE "U3" LEVEL 1;
COMP "p<59>" LOCATE = SITE "V3" LEVEL 1;
COMP "p<0>" LOCATE = SITE "R15" LEVEL 1;
COMP "p<1>" LOCATE = SITE "T15" LEVEL 1;
COMP "p<2>" LOCATE = SITE "U16" LEVEL 1;
COMP "p<3>" LOCATE = SITE "V16" LEVEL 1;
COMP "p<4>" LOCATE = SITE "R13" LEVEL 1;
COMP "p<5>" LOCATE = SITE "T13" LEVEL 1;
COMP "p<6>" LOCATE = SITE "U15" LEVEL 1;
COMP "p<7>" LOCATE = SITE "V15" LEVEL 1;
COMP "p<8>" LOCATE = SITE "T14" LEVEL 1;
COMP "p<9>" LOCATE = SITE "V14" LEVEL 1;
SCHEMATIC END;

