//! **************************************************************************
// Written by: Map P.20131013 on Sun May 17 05:22:34 2026
//! **************************************************************************

SCHEMATIC START;
COMP "out<9>" LOCATE = SITE "A5" LEVEL 1;
COMP "out<10>" LOCATE = SITE "F7" LEVEL 1;
COMP "out<11>" LOCATE = SITE "E6" LEVEL 1;
COMP "out<12>" LOCATE = SITE "B6" LEVEL 1;
COMP "out<20>" LOCATE = SITE "F8" LEVEL 1;
COMP "out<13>" LOCATE = SITE "E7" LEVEL 1;
COMP "out<21>" LOCATE = SITE "B8" LEVEL 1;
COMP "out<14>" LOCATE = SITE "E8" LEVEL 1;
COMP "out<22>" LOCATE = SITE "A8" LEVEL 1;
COMP "out<30>" LOCATE = SITE "F11" LEVEL 1;
COMP "out<15>" LOCATE = SITE "C7" LEVEL 1;
COMP "out<23>" LOCATE = SITE "G9" LEVEL 1;
COMP "out<31>" LOCATE = SITE "E11" LEVEL 1;
COMP "out<16>" LOCATE = SITE "A7" LEVEL 1;
COMP "out<24>" LOCATE = SITE "B11" LEVEL 1;
COMP "out<32>" LOCATE = SITE "D12" LEVEL 1;
COMP "out<17>" LOCATE = SITE "D8" LEVEL 1;
COMP "out<25>" LOCATE = SITE "A11" LEVEL 1;
COMP "out<33>" LOCATE = SITE "C12" LEVEL 1;
COMP "out<18>" LOCATE = SITE "C8" LEVEL 1;
COMP "out<26>" LOCATE = SITE "G11" LEVEL 1;
COMP "out<34>" LOCATE = SITE "C13" LEVEL 1;
COMP "out<19>" LOCATE = SITE "G8" LEVEL 1;
COMP "out<27>" LOCATE = SITE "F10" LEVEL 1;
COMP "out<35>" LOCATE = SITE "A13" LEVEL 1;
COMP "out<28>" LOCATE = SITE "B12" LEVEL 1;
COMP "out<36>" LOCATE = SITE "F12" LEVEL 1;
COMP "out<29>" LOCATE = SITE "A12" LEVEL 1;
COMP "out<37>" LOCATE = SITE "E12" LEVEL 1;
COMP "out<38>" LOCATE = SITE "B14" LEVEL 1;
COMP "out<0>" LOCATE = SITE "B2" LEVEL 1;
COMP "out<1>" LOCATE = SITE "A2" LEVEL 1;
COMP "out<2>" LOCATE = SITE "D6" LEVEL 1;
COMP "out<3>" LOCATE = SITE "C6" LEVEL 1;
COMP "out<4>" LOCATE = SITE "B3" LEVEL 1;
COMP "out<5>" LOCATE = SITE "A3" LEVEL 1;
COMP "out<6>" LOCATE = SITE "B4" LEVEL 1;
COMP "out<7>" LOCATE = SITE "A4" LEVEL 1;
COMP "out<8>" LOCATE = SITE "C5" LEVEL 1;
SCHEMATIC END;

