//! **************************************************************************
// Written by: Map P.20131013 on Sun May 17 07:34:18 2026
//! **************************************************************************

SCHEMATIC START;
COMP "p<0>" LOCATE = SITE "D11" LEVEL 1;
COMP "p<1>" LOCATE = SITE "C11" LEVEL 1;
SCHEMATIC END;

