//! **************************************************************************
// Written by: Map P.20131013 on Sun May 17 05:36:39 2026
//! **************************************************************************

SCHEMATIC START;
COMP "p<10>" LOCATE = SITE "D6" LEVEL 1;
COMP "p<11>" LOCATE = SITE "C6" LEVEL 1;
COMP "p<12>" LOCATE = SITE "B3" LEVEL 1;
COMP "p<20>" LOCATE = SITE "B6" LEVEL 1;
COMP "p<13>" LOCATE = SITE "A3" LEVEL 1;
COMP "p<21>" LOCATE = SITE "E7" LEVEL 1;
COMP "p<14>" LOCATE = SITE "B4" LEVEL 1;
COMP "p<22>" LOCATE = SITE "E8" LEVEL 1;
COMP "p<30>" LOCATE = SITE "A8" LEVEL 1;
COMP "p<15>" LOCATE = SITE "A4" LEVEL 1;
COMP "p<23>" LOCATE = SITE "C7" LEVEL 1;
COMP "p<31>" LOCATE = SITE "G9" LEVEL 1;
COMP "p<16>" LOCATE = SITE "C5" LEVEL 1;
COMP "p<24>" LOCATE = SITE "A7" LEVEL 1;
COMP "p<32>" LOCATE = SITE "B11" LEVEL 1;
COMP "p<40>" LOCATE = SITE "D12" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "p<17>" LOCATE = SITE "A5" LEVEL 1;
COMP "p<25>" LOCATE = SITE "D8" LEVEL 1;
COMP "p<33>" LOCATE = SITE "A11" LEVEL 1;
COMP "p<41>" LOCATE = SITE "C12" LEVEL 1;
COMP "p<18>" LOCATE = SITE "F7" LEVEL 1;
COMP "p<26>" LOCATE = SITE "C8" LEVEL 1;
COMP "p<34>" LOCATE = SITE "G11" LEVEL 1;
COMP "p<42>" LOCATE = SITE "C13" LEVEL 1;
COMP "p<19>" LOCATE = SITE "E6" LEVEL 1;
COMP "p<27>" LOCATE = SITE "G8" LEVEL 1;
COMP "p<35>" LOCATE = SITE "F10" LEVEL 1;
COMP "p<28>" LOCATE = SITE "F8" LEVEL 1;
COMP "p<36>" LOCATE = SITE "B12" LEVEL 1;
COMP "p<44>" LOCATE = SITE "F12" LEVEL 1;
COMP "p<29>" LOCATE = SITE "B8" LEVEL 1;
COMP "p<37>" LOCATE = SITE "A12" LEVEL 1;
COMP "p<45>" LOCATE = SITE "E12" LEVEL 1;
COMP "p<38>" LOCATE = SITE "F11" LEVEL 1;
COMP "p<46>" LOCATE = SITE "B14" LEVEL 1;
COMP "p<39>" LOCATE = SITE "E11" LEVEL 1;
COMP "p<43>" LOCATE = SITE "A13" LEVEL 1;
COMP "p<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "p<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "p<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "p<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "p<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "p<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "p<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "p<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "p<8>" LOCATE = SITE "B2" LEVEL 1;
COMP "p<9>" LOCATE = SITE "A2" LEVEL 1;
TIMEGRP clk = BEL "mode_0" BEL "mode_1" BEL "index_0" BEL "index_1" BEL
        "index_2" BEL "index_3" BEL "index_4" BEL "index_5" BEL "counter_0"
        BEL "counter_1" BEL "counter_2" BEL "counter_3" BEL "counter_4" BEL
        "counter_5" BEL "counter_6" BEL "counter_7" BEL "counter_8" BEL
        "counter_9" BEL "counter_10" BEL "counter_11" BEL "counter_12" BEL
        "counter_13" BEL "counter_14" BEL "counter_15" BEL "counter_16" BEL
        "counter_17" BEL "counter_18" BEL "counter_19" BEL "counter_20" BEL
        "counter_21" BEL "counter_22" BEL "counter_23" BEL "counter_24" BEL
        "counter_26" BEL "counter_27" BEL "counter_25" BEL "counter_25_1" BEL
        "clk_BUFGP/BUFG";
TS_clk = PERIOD TIMEGRP "clk" 10 ns HIGH 50%;
SCHEMATIC END;

